html, body, button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;

}

#searchform {
    background-color: black;
    overflow: hidden;
}

.bg-success{
    background-color: #5cb85c;
}

.bg-danger{
    background-color: #d9534f;
}

.bg-info{
    background-color: #5bc0de;
}

.streaming{
    padding-top: 10px;
}

#twitterButton{
        background-color: #CBF5C9;
}

body
{
style:"background.image:url(background.jpg)"
}

#results{
    padding-top: 50px;
}

.label label-success{
padding-right: 50px;
padding-top: 50px;
}