html, body, button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;

}

#searchform {
    background-color: cyan;
    overflow: hidden;
}

.bg-success{
    background-color: #A8CD1B;
}

.bg-danger{
    background-color: #EC7C7B
}

.bg-info{
    background-color: #3188A3
}