html, body, button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;

}

#searchform {
    background-color: white;
    overflow: hidden;
}

.bg-success{
    background-color: #A4D967;
    font-size: 2em;
}

.bg-danger{
    background-color: #D7A6AA;
    font-size: 2em;
}

.bg-info{
    background-color: #99CDF2;
    font-size: 2em;
}

.streaming{
    padding-top: 10px;
}

#results{
    padding-top: 50px;
}

.sentimentLabels {
    padding-top: 1em;
}

.label-success{
    font-size: 1.5em;
    background-color: #A4D967;
}

.label-danger{
    font-size: 1.5em;
    background-color: #D7A6AA;
}

.label-info{
    font-size: 1.5em;
    background-color: #99CDF2;
}

form.navbar-form.navbar-left{
    padding-left: 26em;
}

